@charset "UTF-8";
/*переменные*/ /*fonts*/
/*color*/
/**/
/*шрифты*/
/*main fonts*/
@font-face {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-style: normal;
  src: url("../sass/fonts/montserrat/Montserrat-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-style: normal;
  src: url("../sass/fonts/montserrat/Montserrat-Medium.woff2") format("woff2");
}
@font-face {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-style: normal;
  src: url("../sass/fonts/montserrat/Montserrat-SemiBold.woff2") format("woff2");
}
/*section ourworks*/
.ourworks {
  position: relative;
  padding: 70px 0;
}
.ourworks-title {
  margin-bottom: 50px;
}
.ourworks-content {
  margin-right: -30px;
  text-align: center;
}
.ourworks-card {
  margin: 0px 30px 30px 0px;
  max-width: 370px;
  max-height: 322px;
}
.ourworks-card__wrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.ourworks-card__img-link {
  display: inline-block;
}
.ourworks-card-img {
  width: 370px;
  height: 322px;
}

.card__more-link {
  display: inline-block;
  margin: 0 auto;
  padding: 25px 30px;
  max-height: 71px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 17px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #000;
  border: 1px solid #000;
  border-radius: 45px;
}

/*media*/
@media (max-width: 396px) {
  .ourworks-content {
    margin-right: 0;
  }
  .ourworks-title {
    font-size: 27px;
    line-height: 33px;
  }
  .ourworks-title::before {
    content: "";
    display: block;
    position: absolute;
    top: 4.5em;
    right: 0;
    width: 100%;
    max-width: 340px;
    height: 2px;
    background-color: #038E00;
  }
  .ourworks-card {
    margin: 0;
    margin-bottom: 30px;
  }
  .ourworks-card__wrapper {
    justify-content: center;
  }
  .ourworks-card-img {
    width: 282px;
    height: 245px;
  }
}