.header
    position: relative
    padding-top: 80px
    background-color: #2B2B2B
    &__wrapper
        position: fixed
        top: 0
        right: 0
        padding: 12px 0px
        height: 80px
        width: 100%
        z-index: 2
        background-color: #2B2B2B
    &-top
        height: 80px

    &-nav
        display: flex
        justify-content: space-between
        align-items: center
        &-left, &-right
            display: flex
            align-items: center
    &-list
        display: flex
        justify-content: space-between
        &-item
            margin-left: 40px
        &-link
            font-family: $base-font
            font-size: 17px
            font-weight: 400
            line-height: 21px
            letter-spacing: 0em
            color: $base-color
            text-align: left
    &-search
        &-item
            margin-left: 30px
            margin-right: 60px
        & .active
            margin-left: 15px
            margin-right: 25px
        &-form
            position: relative
            display: flex
            justify-content: space-between
            align-items: center
            & input
                display: none

    &-title, &-text
        font-family: $base-font
        font-style: normal
        color: $base-color
    &-title
        font-weight: 600
        font-size: 47px
        line-height: 57px
        text-transform: uppercase

    &-text
        margin: 30px 0px
        font-weight: 400
        font-size: 27px
        line-height: 33px
        &-wrapper
            max-width: 715px
            margin-left: 57px
    &-calc-link
        padding: 25px 30px
        display: inline-block
        font-family: $base-font
        font-style: normal
        font-weight: 500
        font-size: 17px
        line-height: 21px
        text-align: center
        text-transform: uppercase
        color: $base-color
        background: #2D7439
        border-radius: 45px
    &-content
        position: relative
        height: 620px
        display: flex
        align-items: center
        background-image: url(../img/header-home.png)
        background-position: center top
        background-repeat: no-repeat
        background-size: cover
        &__img
            & img 
                width: 100%
        &__desc
            width: 1155px
            height: 378px
            display: flex
            align-items: flex-start
            flex-direction: column
            justify-content: center
            background: linear-gradient(90.18deg, #222222 3.44%, rgba(43, 43, 43, 0.3) 55.56%, rgba(255, 255, 255, 0.05) 81.76%)
    
    &-menu
        position: fixed
        padding: 35px 46px
        width: 554px
        height: 100%
        top: 80px
        right: 0
        background: #FFFFFFE8
        z-index: 999
        border-left: 2px solid gray
        border-bottom: 2px solid gray
        transform: translateX(100%)
        transition: .5s
        &-list
        &-item
            margin-bottom: 20px
        &-link
            font-family: $base-font
            font-weight: 400
            font-size: 27px
            line-height: 33px
            color: $black-color
            cursor: pointer
        &-line
            width: 372px
            height: 1px
            border: 1px solid $black-color
        &.active
            transform: translateX(0%)
