.ourworks
    position: relative
    padding: 70px 0
    &-title
        margin-bottom: 50px
    &-content
        margin-right: -30px
        text-align: center

    &-card
        margin: 0px 30px 30px 0px
        max-width: 370px
        max-height: 322px
        // &:nth-child(3n+3)
        //     margin-right: 0
        &__wrapper
            display: flex
            align-items: center
            flex-wrap: wrap
        &__img-link
            display: inline-block
        &-img
            width: 370px
            height: 322px
.card__more-link
    display: inline-block
    margin: 0 auto
    padding: 25px 30px
    max-height: 71px
    font-family: $base-font
    font-weight: 500
    font-size: 17px
    line-height: 21px
    text-align: center
    text-transform: uppercase
    color: $black-color
    border: 1px solid $black-color
    border-radius: 45px